* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5;
}

/* Header/logo Title */
.header {
  padding: 85px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.content {
  max-width: 500px;
  margin: auto;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
